.versionDetailDetailSelect {
	width: 100%;
}

.versionDetailSplitPage {
	height: 100%;
}

.versionDetailNodeTree .sapMLIB:hover {
	cursor: pointer;
}

.versionDetailXmlScroll {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.versionDetailXmlTable .sapMListTbl {
	min-width: max-content;
}

.versionDetailXmlTable .sapMListTblCell {
	vertical-align: top;
}

.versionDetailXmlIndex {
	display: inline-block;
	min-width: 3rem;
	text-align: right;
	padding-right: 0.75rem;
	font-family: monospace;
	color: var(--sapContent_LabelColor);
	white-space: nowrap;
}

.versionDetailXmlText {
	font-family: monospace;
	white-space: pre;
}

.versionDetailXmlTable .sapMLIB:hover {
	cursor: pointer;
}

.versionDetailXmlHighlighted {
	background-color: var(--sapList_Hover_Background) !important;
}

li[data-diffstatus="Warning"],
tr[data-diffstatus="Warning"] {
	background-color: var(--sapWarningBackground, #fdf2e5) !important;
}

li[data-diffstatus="Success"],
tr[data-diffstatus="Success"] {
	background-color: var(--sapSuccessBackground, #eaf6ea) !important;
}

li[data-diffstatus="Error"],
tr[data-diffstatus="Error"] {
	background-color: var(--sapErrorBackground, #ffebee) !important;
}
